---
jwt:
  secret:
  expired:
encrypt:
  keystring:
  additional:
debug:
databases:
  postgres:
    host:
    user:
    password:
    dbname:
    port:
    sslmode:
    timezone:
server:
  address:
    host:
    frontend:
    port:
smtp:
  host:
  port:
  sender_name:
  email:
  password:
aws_s3:
  bucket_name:
  region:
  access_key_id:
  secret_access_key:
xendit:
  api_key: